@model bidster.ViewModels.PasswordChange

@{
    ViewBag.Title = "Password Change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData.ContainsKey("success"))
{
    <h2 class="text-center">You have successfully changed your password.</h2>
}
else
{
    <h2>Change Your Password</h2>

    <div class="col-md-4 col-md-offset-4 main-center box">
        <div class="box-content">
            <form class="form-horizontal" method="post" action="/User/PasswordChange">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Old Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Enter your Old Password", @type = "password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter your New Password", @type = "password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm your New Password", @type = "password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Save Password</button>
                </div>
            </form>
        </div>
    </div>

}

